<%= render partial: 'site/header' %>
<div class="site-login">
  <div class="container">
    <h2 class="title"><%= t('auth.sign_in.title') %></h2>

    <% unless Clearance.configuration.allow_sign_up? %>
      <p class="notice"><%= t(
        'auth.sign_in.invitation_only_text',
        request_an_invitation: link_to(
          t('auth.sign_in.request_an_invitation'), root_path, class: 'link'
        )
      ).html_safe %></p>
    <% end %>

    <%= form_for :session, url: session_path do |form| %>
      <%= form.text_field :email,
                          type: 'email',
                          autofocus: true,
                          placeholder: t('auth.sign_in.email'),
                          class: 'input' %>

      <%= form.password_field :password,
                              placeholder: t('auth.sign_in.password'),
                              class: 'input' %>

      <%= form.submit class: 'button -right' %>

      <%= link_to t('auth.sign_in.forgot_password_link'), new_password_path, class: 'link' %>
      <% if Clearance.configuration.allow_sign_up? %>
        <%= link_to t('auth.sign_in.sign_up_link'), sign_up_path, class: 'link -left-space' %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render partial: 'site/footer' %>
