<div class="site-top-header">
  <%= render partial: 'site/header', locals: { skinny: true } %>
</div>

<main class="page-container -with-margin">
  <% if flash[:edit_template] %>
    <div class="alert alert-success">
      <%= flash[:edit_template] %>
    </div>
  <% end %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Edit '<%= @template.name %>' template...</h1>
    </div>
    <div class="panel-body">
      <%= render partial: 'form' %>
    </div>
  </div>
</main>

<%= render partial: 'site/footer' %>
