<div class="site-top-header">
  <%= render partial: 'site/header', locals: { skinny: true } %>
</div>

<main class="page-container -with-top-margin">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Create a new template...</h1>
    </div>
    <div class="panel-body">
      <%= form_for @template, url: template_index_path, layout: :basic do |f| %>
        <%= f.text_field :name,
                         label: 'Title',
                         placeholder: 'Choose a title for your template...' %>
        <%= f.text_area :content,
                        label: 'Template',
                        placeholder: 'This is the actual template used.',
                        help: t('template.create.use_liquid', link_to('Liquid', 'https://github.com/shopify/liquid')).html_safe
        %>

        <%= f.submit %>
      <% end %>
    </div>
  </div>
</main>
