<div class="site-footer site-footer--top">
  <div class="site-footer__container">
    <div class="site-footer__left">
      <div class="site-footer__logo site-logo">
        <a class="link" href="<%= root_url %>"></a>
        <span class="primary"><%= t('site.logo.primary') %></span>
        <span class="secondary"><%= t('site.logo.secondary') %></span>
        <span class="beta"><%= t('site.logo.beta') %></span>
        <span class="slogan"><%= t('site.logo.footer_slogan') %></span>
      </div>
    </div>
    <div class="site-footer__right">
      <div class="menu">
        <h4>Product</h4>
        <ul>
          <li><a href="/#features"><%= t('site.nav.features') %></a></li>
          <li><a href="/#how-it-works"><%= t('site.nav.how_it_works') %></a></li>
          <li>
            <% if signed_in? %>
              <%= link_to t('site.nav.sign_out'), sign_out_path, method: :delete %>
            <% else %>
              <%= link_to t('site.nav.sign_in'), sign_in_path %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="menu">
        <h4>Legal</h4>
        <ul>
          <li><a href="/privacy"><%= t('site.nav.privacy') %></a></li>
          <li><a href="/terms"><%= t('site.nav.terms') %></a></li>
        </ul>
      </div>
      <div class="menu">
        <h4>Social</h4>
        <ul>
          <li><a href="https://github.com/git-flow">GitHub</a></li>
          <li><a href="https://twitter.com/git_flow">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="site-footer site-footer--bottom">
  <div class="site-footer__container">
    <div class="site-footer__left">
      <%= t('site.copyright_notice', year: copyright_year(2014)).html_safe %>
    </div>
    <div class="site-footer__right">
      <a href="https://www.digitalocean.com/?refcode=2e14c34a8a3a">Hosted on DigitalOcean</a>
    </div>
  </div>
</div>
