<header class="site-header<% if defined? skinny %> -skinny<% end %>">
  <div class="container">
    <div class="left">
      <div class="logo site-logo">
        <a class="link" href="<%= root_url %>"></a>
        <span class="primary"><%= t('site.logo.primary') %></span>
        <span class="secondary"><%= t('site.logo.secondary') %></span>
        <span class="beta"><%= t('site.logo.beta') %></span>
        <span class="slogan"><%= t('site.logo.slogan') %></span>
      </div>
    </div>

    <div class="right">
      <%= render partial: 'site/navigation' %>
    </div>
  </div>
</header>
