<% title(t('page.index.title')) %>
<% set_meta_tags(reverse: false) %>
<div class="site-hero">
  <div class="site-hero__container">
    <%= render partial: 'site/header' %>

    <div class="site-hero__browser">
      <!-- Screenshot here -->
    </div>

    <div class="site-hero__lead">
      <h1><%= t('hero.title') %></h1>
      <p><%= t('hero.lead') %></p>

      <div class="site-hero__form">
        <h2><%= t('hero.form.title') %></h2>
        <%= form_tag request_invite_path, method: :post do %>
          <%= email_field :invitation, :email, class: 'site-hero__form__input', placeholder: t('hero.form.enter_your_email') %>
          <%= button_tag t('hero.form.request_invite'), type: :submit, class: 'site-hero__form__submit' %>
        <% end %>
        <span class="site-hero__form__promise"><%= t('hero.form.promise') %></span>
      </div>
    </div>
  </div>
</div>

<div class="site-usps">
  <div class="site-usps__container">
    <section class="site-usps__usp site-usps__usp--secure">
      <h2><%= t('usp.safe.title') %></h2>
      <p><%= t('usp.safe.text') %></p>
    </section>
    <section class="site-usps__usp site-usps__usp--open-source">
      <h2><%= t('usp.open_source.title') %></h2>
      <p><%= t('usp.open_source.text') %></p>
    </section>
  </div>
</div>

<div class="site-features">
  <div class="site-features__container">
    <div class="site-features__heading">
      <h1>Features</h1>
    </div>
    <section class="site-features__feature">
      <h3>Select the correct branch when comparing</h3>
      <p>Normally, when you compare your branch and create a pull request, you automatically compare it against the repositories' default branch. Git-Flow for GitHub automatically selects the right branch.</p>
    </section>
    <section class="site-features__feature">
      <h3>Forms to make pull requests</h3>
      <p>You can create forms that fill the templates you've made. Being able to just fill a form makes it both easier and quicker to propose a change. This saves you and your team both time and money.</p>
    </section>
    <section class="site-features__feature">
      <h3>Pull request template</h3>
      <p>Git-Flow for GitHub lets you create templates for your pull request so you have one single format for every pull request. Your pull request template can be filled with form data and is made in <a href="http://github.com/shopify/liquid">Liquid</a>.</p>
    </section>
    <section class="site-features__feature">
      <h3>Finish a feature right from GitHub</h3>
      <p>This is the first-ever extension that enables you to finish a feature without leaving GitHub. Git-Flow for Github will automatically merge your feature to <code>develop</code> and <code>master</code>.</p>
    </section>
  </div>
</div>
