<% title(t('page.index.title')) %>
<% set_meta_tags(reverse: false) %>
<div class="site-hero">
  <div class="site-hero__container">
    <%= render partial: 'site/header' %>

    <div class="site-hero__browser">
      <!-- Screenshot here -->
    </div>

    <div class="site-hero__lead">
      <h1><%= t('hero.title') %></h1>
      <p><%= t('hero.lead') %></p>

      <div class="site-hero__form">
        <h2><%= t('hero.form.title') %></h2>
        <%= form_tag request_invite_path, method: :post do %>
          <%= email_field :invitation, :email, class: 'site-hero__form__input', placeholder: t('hero.form.enter_your_email') %>
          <%= button_tag t('hero.form.request_invite'), type: :submit, class: 'site-hero__form__submit' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
