<% title(t('page.index.title')) %>
<% set_meta_tags(reverse: false) %>
<div class="site-hero">
  <div class="site-hero__container">
    <%= render partial: 'site/header' %>

    <div class="site-hero__browser">
      <!-- Screenshot here -->
    </div>

    <div class="site-hero__lead">
      <h1><%= t('hero.title') %></h1>
      <p><%= t('hero.lead') %></p>

      <div class="site-hero__form">
        <h2><%= t('hero.form.title') %></h2>
        <%= form_tag request_invite_path, method: :post do %>
          <%= email_field :invitation, :email, class: 'site-hero__form__input', placeholder: t('hero.form.enter_your_email') %>
          <%= button_tag t('hero.form.request_invite'), type: :submit, class: 'site-hero__form__submit' %>
        <% end %>
        <span class="site-hero__form__promise"><%= t('hero.form.promise') %></span>
      </div>
    </div>
  </div>
</div>

<div class="site-usps">
  <div class="site-usps__container">
    <section class="site-usps__usp site-usps__usp--secure">
      <h2><%= t('usp.safe.title') %></h2>
      <p><%= t('usp.safe.text') %></p>
    </section>
    <section class="site-usps__usp site-usps__usp--open-source">
      <h2><%= t('usp.open_source.title') %></h2>
      <p><%= t('usp.open_source.text') %></p>
    </section>
  </div>
</div>

<div class="site-features" id="features">
  <div class="site-features__container">
    <div class="site-features__heading">
      <h1>Features</h1>
    </div>
    <div class="site-features__features">
      <section class="site-features__feature">
        <h3><%= t('features.auto_branch_selection.title') %></h3>
        <p><%= t('features.auto_branch_selection.text') %></p>
      </section>
      <section class="site-features__feature">
        <h3><%= t('features.pr_forms.title') %></h3>
        <p><%= t('features.pr_forms.text') %></p>
      </section>
      <section class="site-features__feature">
        <h3><%= t('features.pr_templates.title') %></h3>
        <p><%= t('features.pr_templates.text', liquid_link: link_to(t('3rd_party.liquid.name'), 'https://github.com/shopify/liquid', target: '_blank')).html_safe %></p>
      </section>
      <section class="site-features__feature">
        <h3><%= t('features.finish_from_github.title') %></h3>
        <p><%= t('features.finish_from_github.text').html_safe %></p>
      </section>
    </div>
  </div>
</div>
