<% title(t('page.thank_you.title')) %>
<% noindex %>
<div id="fb-root"></div>
<script>
  // Facebook
  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=1394995244130170&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<script>
  // Twitter
  !function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {
      js = d.createElement(s);
      js.id = id;
      js.src = p + '://platform.twitter.com/widgets.js';
      fjs.parentNode.insertBefore(js, fjs);
    }
  }(document, 'script', 'twitter-wjs');
</script>
<div class="site-thank-you">
  <div class="site-thank-you__container">
    <%= render partial: 'site/header' %>

    <div class="site-thank-you__centered">
      <h1><%= t('page.thank_you.title') %></h1>
      <p><%= t('page.thank_you.lead') %></p>
    </div>
  </div>
  <div class="site-thank-you__bottom">
    <div class="site-thank-you__container">
      <div class="share">
        <span class="share__call-out">Share this project:</span>
        <div class="share__twitter">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://gitflow.nl/" data-text="I just requested an invitation for @git_flow! #gitflow #chrome #extension Get yours now:" data-related="git_flow" data-dnt="true">Tweet</a>
        </div>
        <div class="share__facebook">
          <div class="fb-share-button" data-href="https://gitflow.nl/" data-layout="button_count"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-faq">
  <div class="site-faq__container">
    <h1>Frequently asked questions</h1>
    <div class="site-faq__questions">
      <section class="site-faq__questions__question">
        <h3><%= t('faq.waiting.question') %></h3>
        <p><%= t('faq.waiting.answer') %></p>
      </section>
      <section class="site-faq__questions__question">
        <h3><%= t('faq.features.question') %></h3>
        <p><%= t('faq.features.answer') %></p>
      </section>
      <section class="site-faq__questions__question">
        <h3><%= t('faq.feedback.question') %></h3>
        <p><%= t('faq.feedback.answer', github_project_link: link_to(t('3rd_party.github_project'), 'https://github.com/git-flow/backend'), email: mail_to('feedback@gitflow.nl')).html_safe %></p>
      </section>
      <section class="site-faq__questions__question">
        <h3><%= t('faq.gitflow.question') %></h3>
        <p><%= t('faq.gitflow.answer') %></p>
      </section>
    </div>
  </div>
</div>

<%= render partial: 'site/footer' %>
