<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags default_meta_tags %>

    <%= render partial: 'global/typekit' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>

    <% if Rails.env == 'development' %>
      <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <% end %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
