<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env == 'production' %>
      <%= render partial: 'global/hotjar' %>
      <%= render partial: 'global/optimizely' %>
      <%= render partial: 'global/google_analytics' %>
    <% end %>

    <%= display_meta_tags default_meta_tags %>

    <%= render partial: 'global/typekit' %>

    <%= favicon_link_tag 'site/favicon.png', type: 'image/png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
